/* styles.css - Dark theme styles for the fitness profile page */

/* Background and text colors for dark theme */
body {
    background-color: #1c1c1e; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

.card {
    background-color: #2c2c2e !important; /* Ensures Bootstrap styles do not override */
    border: none !important;
}

body {
    background-color: #1c1c1e !important; /* Higher specificity with !important */
    color: #e0e0e0 !important;
}


.card-header {
    background-color: #3a3a3c; 
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
}

.list-group-item {
    background-color: #2c2c2e;
    border-color: #3a3a3c;
    color: #e0e0e0; /* Text color for list items */
}

/* Editable elements */
.editable-input {
    display: none;
}

.editable-text {
    display: block;
}

/* text boxes */
/* Custom styles for editable input fields */
.custom-input {
    border-radius: 10px; 
    padding: 10px 15px; 
    margin-bottom: 10px; 
    border: 1px solid #3a3a3c; 
    background-color: #2c2c2e; 
    color: #e0e0e0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: border 0.3s, box-shadow 0.3s; 
}

.custom-input:focus {
    border-color: #007bff;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.5); 
    outline: none; 
}

.custom-input::placeholder {
    color: #757575; 
}

